.stream-overlay {
	width: 560px;
    height: 315px;
    position: absolute;
    background: black;
    opacity: 0.25;
    cursor: pointer;
}

.single-video {
	width: 100%;
}

.page-title {
	font-family: Lobster;
	font-size: 48px;
	font-style: normal;
	font-variant: normal;
}